{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}
<title>{{ taxonomy.name | title }}</title>

<link rel="stylesheet" href="/styles/tags.css">
{% endblock %}

{% block content %}
<header>
    {{ macros::title(title=taxonomy.name | title) }}
</header>

<section>
    {% for tag in terms %}
        <div class="tag">
            <span class="title">
                <i data-lucide="tag"></i>
                <a href="{{ tag.path }}">#{{ tag.name }}</a>
            </span>

            <span class="separator"></span>

            <span class="posts">
                {{ tag.pages | length }} posts
            </span>
        </div>
    {% endfor %}
</section>
{% endblock %}
