{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}
<title>{{ taxonomy.name | title }}</title>

<link rel="stylesheet" href="/styles/tags.css">
{% endblock %}

{% block content %}
<header>
    {{ macros::title(title=taxonomy.name | title) }}
</header>

<section>
    {% for tag in terms %}
        <div class="tag">
            <a href="{{ tag.path }}">#{{ tag.name }}</a>
            <span>({{ tag.page_count }} posts)</span>
        </div>
    {% endfor %}
</section>
{% endblock %}
