@font-face {
  font-family: 'LibreCaslonCondensed';
  src: url('/ttf/LibreCaslonCondensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: LibreCaslonCondensed, serif;
  font-size: 1.85em;
  font-weight: normal;
  margin-bottom: 8px;
}

h2 {
  font-family: LibreCaslonCondensed, serif;
  font-weight: normal;
  font-size: 1.35em;
}

h2 .lucide {
  height: 26px;
}

.spacer {
  margin: 0 2px;
}

.lucide {
  width: 16px;
  margin-right: 1px;
  vertical-align: top;
}

a:has(.lucide) {
  text-decoration: none;
}

.logo {
  width: 16px;
  height: 16px;

  translate: 0 6.5px;
  margin: 0 2px 4px 0;
}

.link {
  margin-bottom: 15px;
}

.favicon-link {
  display: inline-flex;
  align-items: center;

  img {
    width: 14px;
    height: 14px;
    margin: 0 6px 0 0;
    vertical-align: middle;
  }
}

