:root {
  --caslon: LibreCaslonCondensed, Georgia, serif;
  --cosm: Cosm, 'Helvetica Neue', sans-serif;

  --visit: #4422ee;
  --visit2: #3311c0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --visit: #7f7fff;
    --visit2: #6666e0;
  }
}

@font-face {
  font-family: LibreCaslonCondensed;
  src: url('/font/LibreCaslonCondensed.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Cosm;
  src: url('/font/Cosm.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

header p, .favicon-link {
  font-family: var(--cosm);
  font-size: 1.075em;
}

header a {
  text-decoration: none;
}

h1 {
  font-family: var(--caslon);
  font-size: 1.85em;
  font-weight: normal;
  margin-bottom: 8px;
}

h2 {
  font-family: var(--cosm);
  font-weight: normal;
  font-size: 1.3em;

  .lucide {
    height: 26px;
  }
}

.spacer {
  margin: 0 2px;
}

.lucide {
  width: 16px;
  margin-right: 1px;
  vertical-align: top;
}

a:has(.lucide) {
  text-decoration: none;
}

.logo {
  width: 16px;
  height: 16px;

  translate: 0 6.5px;
  margin: 0 2px 4px 0;
}

.link {
  margin-bottom: 15px;
}

.favicon-link {
  display: inline-flex;
  align-items: flex-start;

  img {
    width: 14px;
    height: 14px;
    margin: 4px 6px 4px 0;
    translate: 0 1px;
  }
}
