#title {
  display: flex;
  align-items: flex-start;
}

#logo {
  min-width: 50px;
  min-height: 50px;

  display: inline-block;
  vertical-align: bottom;

  margin: -7px 2px -5px -10px;

  background-image: url(/assets/cards/cards.png);
  background-size: 200px;
  image-rendering: pixelated;

  animation: logo-open 0.125s forwards steps(3);

  @media (prefers-color-scheme: dark) {
    background-image: url(/assets/cards/cards-dark.png);
  }

  &:hover {
    animation: logo-close 0.125s forwards steps(3);
  }
}

@keyframes logo-close {
  from { background-position-x: 0; }
  to { background-position-x: -150px; }
}

@keyframes logo-open {
  from { background-position-x: -150px; }
  to { background-position-x: 0; }
}
