.header {
  display: flex;
  align-items: center;
  gap: 5px;

  .lucide {
    width: 12px;
    height: 12px;
    margin-left: 2px;
  }

  img {
    image-rendering: pixelated;
    margin: 0;
    width: 18px;
    height: 18px;
  }
}

@media (prefers-color-scheme: dark) {
  #icon-about {
    content: url("/assets/icons/about-dark.png");
  }
  #icon-blog {
    content: url("/assets/icons/blog-dark.png");
  }
  #icon-projects {
    content: url("/assets/icons/projects-dark.png");
  }
  #icon-octalwise {
    content: url("/assets/icons/octalwise-dark.png");
  }
}

#pages h2:not(:first-of-type) {
  margin-top: 35px;
}

#content {
  width: fit-content;
}

#background {
  position: absolute;

  top: 0;
  left: 0;

  pointer-events: none;
  z-index: -100;

  filter: brightness(95%);
  animation: background-appear 1.5s linear;

  @media (prefers-color-scheme: dark) {
    filter: brightness(70%);
  }

  @media (prefers-reduced-motion) {
    display: none;
  }
}

@keyframes background-appear {
  from { opacity: 0%; }
  to { opacity: 100%; }
}
