@use 'post';

.permalink {
  margin-left: 4px;
}

h2:not(:hover) .permalink {
  display: none;
}

section:has(+ hr) {
  margin-bottom: 0;
}

a:not([href]) {
  color: var(--link);
  opacity: 50%;
  cursor: not-allowed;
}

a:not([href]) + .lucide,
.lucide:has(+ a:not([href])) {
  opacity: 50%;
}

#pagination {
  display: flex;
  justify-content: space-between;

  .lucide {
    margin: 0;
  }

  a {
    margin: 0 2px;
  }
}
