@use 'post';

.permalink {
  margin-left: 4px;
}

h2:not(:hover) .permalink {
  display: none;
}

section:has(+ hr) {
  margin-bottom: 0;
}

.link {
  margin-bottom: 15px;
}

.favicon-link {
  display: inline-flex;
  align-items: center;

  img {
    width: 14px;
    height: 14px;
    margin: 0 6px 0 0;
    vertical-align: middle;
  }
}

a:not([href]) {
  color: var(--link);
  opacity: 50%;
  cursor: not-allowed;
}

a:not([href]) + .lucide,
.lucide:has(+ a:not([href])) {
  opacity: 50%;
}

#pagination {
  display: flex;
  justify-content: space-between;

  .lucide {
    margin: 0;
  }

  a {
    margin: 0 2px;
  }
}
