section {
  line-height: 1.6;
}

.post {
  display: flex;
  justify-content: space-between;

  .title {
    display: inline-flex;
    align-items: flex-start;
    gap: 5px;

    .lucide {
      min-width: 16px;
      translate: 0 1px;
    }

    a:visited {
      color: var(--visit);

      &:active {
        color: var(--visit2);
      }
    }
  }

  .date {
    font-family: Cosm;
    translate: 0 1px;
  }

  @media only screen and (max-width: 650px) {
    .date {
      display: none;
    }
  }
}
