h2 {
  margin-bottom: 20px !important;
}

h3 {
  margin-top: 0 !important;
}

hr {
  margin: 20px 0 !important;
}

.project {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;

  .images {
    white-space: nowrap;
  }

  p:has(img) {
    margin: 0;
  }

  img {
    margin: 0;

    max-height: 225px;
    max-width: 300px;

    width: auto;
    height: auto;

    @media only screen and (max-width: 650px) {
      display: none;
    }
  }
}
