h3 {
  display: flex;
  align-items: center;
  gap: 4px;

  font-family: 'Libre Caslon Text', serif;
  font-weight: normal;
  font-size: 1.3em;
}

.repo {
  width: calc(350px - 15px);
}

.owner {
  width: 20px;
  margin: 0 !important;
  border-radius: 50%;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.lang {
  background: var(--bg3);
  border: 1px solid var(--bg4);
  padding: 2px 4px;
}
