section {
  line-height: 1.6;
}

.tag {
  display: flex;
}

.tag .title {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.tag .separator {
  content: '';
  flex-grow: 1;
  border-bottom: 1px dotted var(--fg3);
  translate: 0 13px;
  height: 1px;
  margin: 0 10px;
}
