section {
  line-height: 1.6;
}

.tag {
  display: flex;

  .title {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
  }

  .separator {
    content: '';
    flex-grow: 1;
    border-bottom: 1px dotted var(--fg3);
    translate: 0 13px;
    height: 1px;
    margin: 0 10px;
  }

  .posts {
    font-family: var(--cosm);
    translate: 0 1px;
  }
}
