<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="theme-color" content="#5599ff">

        <link rel="icon" href="/assets/cards/cards-open.png">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml">

        {% block head %} {% endblock %}

        <script src="https://unpkg.com/lucide"></script>

        <link rel="stylesheet" href="https://raven.ayukmr.com/raven.css">
        <link rel="stylesheet" href="/styles/styles.css">

        <link rel="stylesheet" href="/styles/syntax-light.css" media="(prefers-color-scheme: light)" />
        <link rel="stylesheet" href="/styles/syntax-dark.css"  media="(prefers-color-scheme: dark)"  />
    </head>

    <body>
        <main>
            {% block content %} {% endblock %}
        </main>

        <script>lucide.createIcons();</script>
    </body>
</html>
