{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}
<title>ayukmr</title>

<link rel="stylesheet" href="/styles/index.css">
<script src="/src/background.js" defer></script>
{% endblock %}

{% block content %}
<div id="content">
    <header id="top">
        <div class="left">
            <img class="pfp" src="/assets/pfp/pfp.png">

            <p>
                <a href="https://github.com/ayukmr"><img class="logo" style="mix-blend-mode: difference; filter: invert(100%);" src="assets/logos/github.svg"></a>
                <a href="https://bsky.app/profile/ayukmr.com"><img class="logo" src="assets/logos/bluesky.svg"></a>
                <a href="https://linkedin.com/in/ayushk9"><img class="logo" src="assets/logos/linkedin.svg"></a>
                <a href="mailto:contact@ayukmr.com"><img class="logo" src="assets/logos/mail.svg"></a>
            </p>
        </div>

        <div class="right">
            <p><strong>Ayush Kumar</strong> is a high schooler in the Bay Area.</p>
            <p>He runs Octalwise, a small software studio, and is the programming lead for FRC Team 4904.</p>
            <p>
                His work spans
                <a href="https://github.com/ayukmr/dauntless">robotics</a>,
                <a href="https://github.com/ayukmr/poplar">systems</a> <a href="https://github.com/ayukmr/glaze">programming</a>,
                <a href="https://github.com/ayukmr/pendant">embedded</a> <a href="https://github.com/ayukmr/flinx">hardware</a>,
                <a href="https://github.com/ayukmr/nn">machine learning</a>,
                and <a href="https://github.com/ayukmr/hive-webapp">full-stack</a>, along with
                <a href="https://octalwise.com/acidity">several</a> <a href="https://octalwise.com/tracks">published</a> <a href="https://octalwise.com/fleuron">apps</a>.
            </p>
        </div>
    </header>

    <section id="pages">
        <h2 class="header">
            <img id="icon-projects" src="/assets/icons/projects.png">
            <a href="/projects">Projects</a>
        </h2>
        List of select projects.

        <h2 class="header">
            <img id="icon-vault" src="/assets/icons/vault.png">
            <a href="https://vault.ayukmr.com">Vault</a>
            <i data-lucide="square-arrow-out-up-right"></i>
        </h2>
        Collection of public notes.

        <h2 class="header">
            <img id="icon-octalwise" src="/assets/icons/octalwise.png">
            <a href="https://octalwise.com">Octalwise</a>
            <i data-lucide="square-arrow-out-up-right"></i>
        </h2>
        Software company.
    </section>
</div>

<canvas id="background"></canvas>
{% endblock %}
