{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}
<title>ayukmr</title>

<link rel="stylesheet" href="/styles/index.css">
<script src="/src/background.js" defer></script>
{% endblock %}

{% block content %}
<div id="content">
    <header>
        {{ macros::title(title="ayukmr") }}

        <a href="https://github.com/ayukmr"><img class="logo" style="mix-blend-mode: difference; filter: invert(100%);" src="assets/logos/github.svg"></a>

        <span class="spacer"></span>

        <a href="https://bsky.app/profile/ayukmr.com"><img class="logo" src="assets/logos/bluesky.svg"></a>

        <span class="spacer"></span>

        <a href="https://news.ycombinator.com/user?id=ayukmr"><img class="logo" src="assets/logos/ycombinator.svg"></a>

        <span class="spacer"></span>

        <a href="mailto:contact@ayukmr.com"><img class="logo" src="assets/logos/gmail.svg"></a>
    </header>

    <section id="pages">
        <h2 class="header">
            <img id="icon-about" src="/assets/icons/about.png">
            <a href="/about">About</a>
        </h2>
        Information about this site.

        <h2 class="header">
            <img id="icon-blog" src="/assets/icons/blog.png">
            <a href="/blog">Blog</a>
        </h2>
        Linkblog with a few articles.

        <h2 class="header">
            <img id="icon-projects" src="/assets/icons/projects.png">
            <a href="/projects">Projects</a>
        </h2>
        List of select projects.

        <h2 class="header">
            <img id="icon-octalwise" src="/assets/icons/octalwise.png">
            <a href="https://octalwise.com">Octalwise</a>
            <i data-lucide="square-arrow-out-up-right"></i>
        </h2>
        Software company.
    </section>
</div>

<canvas id="background"></canvas>
{% endblock %}
