{% macro title(title) %}
<h1>
    <a id="logo" href="{{ current_path | regex_replace(pattern=`/\d+/?$`, rep="") | regex_replace(pattern=`[^/]+/?$`, rep="") }}"></a>

    {{ title }}
</h1>
{% endmacro %}

{% macro favicon(url) %}
<img src="https://icons.duckduckgo.com/ip3/{{ url | regex_replace(pattern=`^https?://([^/]*)/?.*`, rep="$1") }}.ico">
{% endmacro %}

{% macro post(post) %}
{% if post.extra.link %}
    <div class="link">
        <div class="favicon-link">
            {{ macros::favicon(url=post.extra.link.url) }}

            <a href="{{ post.extra.link.url }}">{{ post.extra.link.title }}</a>
        </div>

        {% if post.extra.via %}
            <br>

            <div class="favicon-link via">
                {{ macros::favicon(url=post.extra.via.url) }}

                via <a href="{{ post.extra.via.url }}">{{ post.extra.via.title }}</a>
            </div>
        {% endif %}
    </div>

    {{ post.content | safe }}
{% else %}
    {{ post.content | safe }}
{% endif %}
{% endmacro %}

{% macro posts(posts) %}
{% for year, posts in posts | group_by(attribute="year") %}
<section>
    <h2>{{ year }}</h2>

    {% for post in posts %}
        <div>
            <span class="title">
                {% if "starred" in post.taxonomies.tags %}
                    <i data-lucide="star" fill="currentColor"></i>
                {% elif post.extra.link %}
                    <i data-lucide="link"></i>
                {% else %}
                    <i data-lucide="dot" fill="currentColor"></i>
                {% endif %}

                <a href="{{ post.path }}">
                    {{ post.title }}
                </a>
            </span>

            <div style="float:right">
                {{ post.date | date(format="%F") }}
            </div>
        </div>
    {% endfor %}
</section>
{% else %}
<section>
    <blockquote>
        No posts were found.
    </blockquote>
</section>
{% endfor %}
{% endmacro %}
