{% macro title(title) %}
<h1>
    <a id="logo" href="/"></a>

    {{ title }}
</h1>
{% endmacro %}

{% macro favicon(url) %}
<img src="https://icons.duckduckgo.com/ip3/{{ url | replace(from="https://", to="") | replace(from="http://", to="") | split(pat="/") | first }}.ico">
{% endmacro %}

{% macro post(post) %}
{% if post.extra.link %}
    <div class="link">
        <div class="favicon-link">
            {{ macros::favicon(url=post.extra.link.url) }}

            <a href="{{ post.extra.link.url }}">{{ post.extra.link.title }}</a>
        </div>

        {% if post.extra.via %}
            <br>

            <div class="favicon-link via">
                {{ macros::favicon(url=post.extra.via.url) }}

                via <a href="{{ post.extra.via.url }}">{{ post.extra.via.title }}</a>
            </div>
        {% endif %}
    </div>

    {{ post.content | safe }}
{% else %}
    {{ post.content | safe }}
{% endif %}
{% endmacro %}

{% macro posts(posts) %}
{% for year, posts in posts | group_by(attribute="year") %}
<section>
    <h2>{{ year }}</h2>

    {% for post in posts %}
        <div class="post">
            <span class="title">
                {% if "starred" in post.taxonomies.tags %}
                    <i data-lucide="star"></i>
                {% elif post.extra.link %}
                    <i data-lucide="link"></i>
                {% else %}
                    <i data-lucide="dot"></i>
                {% endif %}

                <a href="{{ post.path }}">
                    {{ post.title }}
                </a>
            </span>

            {{ post.date | date(format="%F") }}
        </div>
    {% endfor %}
</section>
{% else %}
<section>
    <blockquote>
        No posts were found.
    </blockquote>
</section>
{% endfor %}
{% endmacro %}
